#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #000000;
}
#msg-box2-1 .mbr-header .mbr-header__text {
  color: #56c8f7;
}
#msg-box2-1 .mbr-article {
  color: #252525;
}
#content1-6 P {
  color: #252525;
}
#contacts2-4 STRONG {
  color: #252525;
}
#contacts2-4 P {
  color: #000000;
}
